:root {
  --green: rgba(8, 158, 53, 0.6);
  --greenLight: rgba(8, 158, 53, 0.1);
  --white: white;
  --black: black;
  --grey: hsl(0, 0%, 95%);
  --red: rgb(194, 12, 12, 0.5);
  --blue: rgb(41, 128, 185, 0.5);
  --yellow: rgb(247, 244, 70, 0.5);
  --grassGreen: rgba(104, 196, 62, 0.5);
}
